.login{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login h1{
    text-transform: uppercase;
    color: white; 
    font-size: 40px; 
    margin-bottom: 20px;
    text-shadow: 0 0 50px #9954f49a;
}
.login form{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 400px;
    margin: auto;
    background-color: rgba(47, 47, 51, 0.836);
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(202, 202, 202, 0.24) 0px 3px 8px;
}
.login .usertype{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.login .usertype .radio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .usertype label{
    margin: 0;
}
.login .usertype input{
    margin: 0;
    margin-right: 7px;
    appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
}
.login .usertype input:checked{
    background-color: #370d6d90;
    border: 2px solid #4e3272b1;
}
.login form label{
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}
.login form input{
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.37);
    border: 2px solid rgba(128, 128, 128, 0.202);
    border-radius: 6px;
}
.login form input:focus{
    border: 2px solid #370d6d90;
    outline: none;
}
.login form button{
    width: 100px;
    padding: 10px;
    font-size: 16px;
    margin: auto;
    color: white;
    background-color: rgba(128, 128, 128, 0.37);
    border: 2px solid rgba(128, 128, 128, 0.202);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.login form button:hover{
    background-color: rgba(89, 89, 89, 0.37);
    border: 2px solid rgba(128, 128, 128, 0.202);
    border-radius: 10px;
    cursor: pointer;
}
.login form p{
    margin-bottom: 20px;
    color: rgba(225, 59, 59, 0.993);
    text-transform: capitalize;
}
.login form .para{
    margin: 20px 0;
}