.viewhalls{
    margin-bottom: 20px;
}
.viewhalls h1{
    text-align: center;
    color: white;
    margin-top: 20px;
    text-shadow: 0 0 50px #9954f49a;
}
.viewhalls .cards{
    display: flex;
    flex-wrap: wrap;
}
.viewhalls .closepopup{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 101;
}
.viewhalls .popupbackground{
    position: fixed;
    max-width: 550px;
    max-height: 600px;
    width: 90%;
    height: 90%;
    background-color: rgba(102, 102, 102, 0.4);
    border-radius: 20px;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 101;
}
.viewhalls .popupcard{
    position: fixed;
    max-width: 520px;
    max-height: 570px;
    width: 95%;
    height: 95%;
    background-color: rgb(254, 242, 255);
    border-radius: 10px;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 102;
    overflow: scroll;
}
.viewhalls .popupcard img{
    display: block;
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.viewhalls .popupcard h2{
    text-transform: capitalize;
    font-weight: 800;
}
.viewhalls .popupcard h2, .viewhalls .popupcard p{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.viewhalls .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
}
.viewhalls .buttons .book{
    cursor: pointer;
    color: rgb(0, 0, 0, 0.7);
    background-color: rgba(240, 197, 70, 0.955);
    border: 1.5px solid rgba(220, 149, 27, 0.849);
    padding: 7px;
    border-radius: 10px;
    width: 87px;
    font-size: 14px;
    text-align: center;
}
.viewhalls .buttons .book:hover{
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(240, 197, 70, 0.75);
    border: 1.5px solid rgba(220, 149, 27, 0.558);
}
.viewhalls .buttons .close{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.949);
    background-color: rgba(240, 70, 70, 0.918);
    border: 1.5px solid rgba(203, 41, 41, 0.969);
    padding: 7px;
    border-radius: 10px;
    width: 87px;
    font-size: 14px;
    text-align: center;
}
.viewhalls .buttons .close:hover{
    background-color: rgba(240, 70, 70, 0.726);
    border: 1.5px solid rgba(203, 41, 41, 0.438);
}